name: AXIAL CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libwebkit2gtk-4.1-dev libgtk-3-dev libayatana-appindicator3-dev librsvg2-dev sqlite3 libsqlite3-dev criu
        
    - name: Setup Rust
      uses: dtolnay/rust-toolchain@pinned
      with:
        toolchain: stable
        components: rustfmt, clippy

    - name: Cargo fmt
      run: cargo fmt --all -- --check

    - name: Cargo clippy
      run: cargo clippy --workspace -- -D warnings

    - name: Build
      run: cargo build --verbose --workspace

    - name: Test
      run: cargo test --verbose --workspace

  devcontainer:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build and run dev container
      uses: devcontainers/ci@v0.3
      with:
        imageName: axial-base-test
        configFile: .devcontainer/base/devcontainer.json
        runCmd: |
          cargo build --package axial-cli
          ./target/debug/axial doctor --all
          cargo test --workspace
